h1{
  color: #f7325e;
  text-align: center;
  font-size: 80px;
}
.tropical{
  color: blue

}
p{
  color: #7dc410;
  font-size: 25px;
}
.holiday{
  color:#f7325e;
}
.popular{
  font-style: italic;
  font-size:30px;
  color:purple;
}

.letters{
  color: #7dc410;
  font-size: 25px;
}
img{
  height: 50%;
}
h2{
  font-size: 40px;
}
body{
background-color: #7E742B;
}
.love{
  font-size: 25px;
}
.big{
  background-color: #263344;
  padding: 1px;
}
